.campo-texto{
    margin: 24px 0;
    font-family: 'Montserrat', sans-serif;
    color:#ffff;

}

.campo-texto label{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    display: block;
    margin-bottom: 8px;
}

.campo-texto input{
    width: 100%;
    background-color: #0000;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
    padding: 30px 20px;
    outline-color: red;
    font-size: 16px;
    box-sizing: border-box;
    border-color: white;
}