.boton{
    color: #fff;
    background-color: #000000;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    align-items: center;
    margin: 20px;
};

.boton:active {
    background-color: #000000;
    color: #ffff;
    border: solid blue
};

  .boton:hover{
    background-color: #fff;
    color: #282c34;
};

